<ng-container *ngIf="isDesktopView">
  <div class="container grid">
    <div class="tab flex">
      <div class="grid">
        <span class="tab-heading">{{ Label.MY_BALANCE }}</span>
        <span class="tab-price">{{ Label.TAB_PRICE }}</span>
      </div>
      <img class="logo" src="../assets/logo.svg" alt="logo" />
    </div>
    <div class="graph-container grid">
      <div class="spending">{{ Label.SPENDING }}</div>
      <div class="graph flex">
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="graph-shape mon"></div>
          <span class="days">{{ Label.MON }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="graph-shape tue"></div>
          <span class="days">{{ Label.TUE }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$52.36</div>
          <div class="graph-shape cyan wed"></div>
          <span class="days">{{ Label.WED }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="graph-shape thu"></div>
          <span class="days">{{ Label.THU }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="graph-shape fri"></div>
          <span class="days">{{ Label.FRI }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="graph-shape sat"></div>
          <span class="days">{{ Label.SAT }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="graph-shape sun"></div>
          <span class="days">{{ Label.SUN }}</span>
        </div>
      </div>
      <hr class="break" />
      <div class="grid">
        <span class="total">{{ Label.TOTAL_THIS_MONTH }}</span>
        <div class="flex">
          <span class="total-price">{{ Label.TOTAL }}</span>
          <div class="grid last-month-percent">
            <span class="percent">{{ Label.PERCENT }}</span>
            <span class="last-month">{{ Label.LAST_MONTH }}</span>
          </div>
        </div>
      </div>
    </div>
  </div></ng-container
>
<ng-container *ngIf="!isDesktopView">
  <div class="grid mob-container">
    <div class="mob-tab flex">
      <div class="grid">
        <span class="mob-tab-heading">{{ Label.MY_BALANCE }}</span>
        <span class="tab-price mob-tab-price">{{ Label.TAB_PRICE }}</span>
      </div>
      <img class="logo" src="../assets/logo.svg" alt="logo" />
    </div>

    <div class="mob-graph-container">
      <div class="spending mob-spending">{{ Label.SPENDING }}</div>
      <div class="mob-graph flex">
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="mob-graph-shape mob-mon"></div>
          <span class="mob-days">{{ Label.MON }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="mob-graph-shape mob-tue"></div>
          <span class="mob-days">{{ Label.TUE }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$52.36</div>
          <div class="mob-graph-shape cyan mob-wed"></div>
          <span class="mob-days">{{ Label.WED }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="mob-graph-shape mob-thu"></div>
          <span class="mob-days">{{ Label.THU }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="mob-graph-shape mob-fri"></div>
          <span class="mob-days">{{ Label.FRI }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="mob-graph-shape mob-sat"></div>
          <span class="mob-days">{{ Label.SAT }}</span>
        </div>
        <div class="grid bar">
          <div class="price">$31.07</div>
          <div class="mob-graph-shape mob-sun"></div>
          <span class="mob-days">{{ Label.SUN }}</span>
        </div>
      </div>
      <hr class="mob-break" />
      <div class="grid">
        <span class="mob-total">{{ Label.TOTAL_THIS_MONTH }}</span>
        <div class="flex">
          <span class="mob-total-price">{{ Label.TOTAL }}</span>
          <div class="grid last-month-percent">
            <span class="mob-percent">{{ Label.PERCENT }}</span>
            <span class="mob-last-month">{{ Label.LAST_MONTH }}</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
